.array-bar,
.array-bar * {
  color: white !important;
}

.array-bar {
  transition: transform 0.5s ease, background-color 0.5s ease, height 0.5s ease;
}

.tree-node {
  stroke: black;
  fill: white;
  stroke-width: 2;
  transition: stroke 0.5s ease, fill 0.5s ease;
}

.tree-node.highlighted {
  stroke: orange;
  fill: orange;
}

.tree-text {
  fill: black;
  transition: fill 0.5s ease;
}

.tree-text.highlighted {
  fill: white;
}

.tree-line {
  stroke: black;
  stroke-width: 2;
  transition: stroke 0.5s ease;
}

.tree-line.highlighted {
  stroke: orange;
}

.linked-list-node {
  transition: background-color 0.5s ease;
}

.linked-list-node.current {
  background-color: rgb(0, 81, 255);
}

.linked-list-node.found {
  background-color: orange;
}

/* styles.css */
.markdown-content p {
  margin-bottom: 16px; /* Satır arası boşluk ayarı */
  line-height: 1.6; /* Satır yüksekliği ayarı */
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  margin-top: 24px; /* Başlıkların üst boşluk ayarı */
  margin-bottom: 16px; /* Başlıkların alt boşluk ayarı */
}
