.array-bar,
.array-bar * {
  color: white !important;
}

.array-bar {
  transition: transform 0.5s ease, background-color 0.5s ease, height 0.5s ease;
}

.tree-node {
  stroke: var(--text-color);
  fill: var(--background-color);
  stroke-width: 2;
  transition: stroke 0.5s ease, fill 0.5s ease;
}

.tree-node.highlighted {
  stroke: orange;
  fill: orange;
}

.tree-text {
  fill: var(--text-color);
  transition: fill 0.5s ease;
}

.tree-text.highlighted {
  fill: white;
}

.tree-line {
  stroke: var(--text-color);
  stroke-width: 2;
  transition: stroke 0.5s ease;
}

.tree-line.highlighted {
  stroke: orange;
}

.linked-list-node {
  transition: background-color 0.5s ease;
}

.linked-list-node.current {
  background-color: rgb(0, 81, 255);
}

.linked-list-node.found {
  background-color: orange;
}
